@charset "UTF-8";

/*Class to use for eg headline for graftitifont*/

.grafitifont {
    font-family: 'hey_augustregular', arial, sans-serif;
    color: white;
    font-weight:normal;
    font-style:normal;
    color: red;
}

.subtitle {
    font-size: 15px;
    line-height: 1.3;
    margin: 0;
    font-weight: 300;
    margin-bottom: 10px;
    color: grey;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'ubuntubold', arial, sans-serif;
}
p{
    font-family: 'ubuntulight', arial, sans-serif;
}

.btn,.pager li>a,.pager li>span,.one-tag-list .tag-text{
    font-family: 'ubuntumedium', arial, sans-serif;
}


body{
    font-family: 'ubuntumedium', arial, sans-serif;
}

textarea{
    font-family: 'ubuntulight', sans-serif;
}
input[type="submit"] {
    font-family: 'ubuntulight', sans-serif;
}
/* Fonts come here*/
@font-face {
    font-family: 'hey_augustregular';
    src: url('https://blogbeat.github.io/css/fonts/heyaugust-qz73q-webfont.woff2') format('woff2'),
    url('https://blogbeat.github.io/css/fonts/heyaugust-qz73q-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntubold';
    src: url('https://blogbeat.github.io/css/fonts/ubuntu-bold-webfont.woff2') format('woff2'),
    url('https://blogbeat.github.io/css/fonts/ubuntu-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntumedium_italic';
    src: url('https://blogbeat.github.io/css/fonts/ubuntu-mediumitalic-webfont.woff2') format('woff2'),
    url('https://blogbeat.github.io/css/fonts/ubuntu-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntumedium';
    src: url('https://blogbeat.github.io/css/fonts/ubuntu-medium-webfont.woff2') format('woff2'),
    url('https://blogbeat.github.io/css/fonts/ubuntu-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntuitalic';
    src: url('https://blogbeat.github.io/css/fonts/ubuntu-italic-webfont.woff2') format('woff2'),
    url('https://blogbeat.github.io/css/fonts/ubuntu-italic-webfont.woff') format('woff');
    font-weight: normal;

}

@font-face {
    font-family: 'ubunturegular';
    src: url('https://blogbeat.github.io/css/fonts/ubuntu-regular-webfont.woff2') format('woff2'),
    url('https://blogbeat.github.io/css/fonts/ubuntu-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntulight_italic';
    src: url('https://blogbeat.github.io/css/fonts/ubuntu-lightitalic-webfont.woff2') format('woff2'),
    url('https://blogbeat.github.io/css/fonts/ubuntu-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ubuntulight';
    src: url('https://blogbeat.github.io/css/fonts/ubuntu-light-webfont.woff2') format('woff2'),
    url('https://blogbeat.github.io/css/fonts/ubuntu-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/*===== Variables =====*/
/* Theme Colors */
/*
.site-title, .toggle-navigation i {
  font-size: 1.625em;
  line-height: 1.85;
}

body {
  height: 100%;
  font-size: 100%;
  margin: 0;
  padding: 0;
  font-family: "raleway", sans-serif;
  line-height: 1.5;
  color: #4d4d4d;
  background: #38312f;
  -webkit-font-smoothing: antialiased;
  word-wrap: break-word;
  -ms-word-wrap: break-word;
}

.main {
  background: white;
  padding-bottom: 1.5em;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #38312f;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
a:link {
  color: #38312f;
}
*/

