@charset "UTF-8";


h1 {
    font-family: 'hey_augustregular', arial, sans-serif;
    color: white;
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family: 'hey_augustregular';
    src: url('https://blogbeat.github.io/css/fonts/heyaugust-qz73q-webfont.woff2') format('woff2'),
    url('https://blogbeat.github.io/css/fonts/heyaugust-qz73q-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/*local
@font-face {
    font-family: 'hey_augustregular';
    src: url('http://localhost:1313/css/fonts/heyaugust-qz73q-webfont.woff2') format('woff2'),
    url('http://localhost:1313/css/fonts/heyaugust-qz73q-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*/

/*===== Variables =====*/
/* Theme Colors */
/*
.site-title, .toggle-navigation i {
  font-size: 1.625em;
  line-height: 1.85;
}

body {
  height: 100%;
  font-size: 100%;
  margin: 0;
  padding: 0;
  font-family: "raleway", sans-serif;
  line-height: 1.5;
  color: #4d4d4d;
  background: #38312f;
  -webkit-font-smoothing: antialiased;
  word-wrap: break-word;
  -ms-word-wrap: break-word;
}

.main {
  background: white;
  padding-bottom: 1.5em;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #38312f;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
a:link {
  color: #38312f;
}
*/

