
@font-face {
    font-family: 'hey_augustregular';
    src: url('https://blogbeat.github.io/css/fonts/heyaugust-qz73q-webfont.woff2') format('woff2'),
         url('https://blogbeat.github.io/css/fonts/heyaugust-qz73q-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
